# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\trainings\CDP 2020\Selenium WebDriver\WebDriver-Task-Hardcore-Level-FirstTestVersion\HardcoreTask4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
